=h content_for(:title, "Tufts Community Union - Senate")
.contentsection
  .paddedcontent
    %h2.centeredtext
      TCU Senate Committees
    %br/
    .row-fluid
      .paddedrow
        .span3.mainlink
          %i.icon-archive
          .mainlinktext
            A&P
        .span3.mainlink
          %i.icon-flag
          .mainlinktext
            CECA
        .span3.mainlink
          %i.icon-book
          .mainlinktext
            Education
        .span3.mainlink
          %i.icon-food
          .mainlinktext
            Services
    .row-fluid.spacerrow
    .row-fluid
      .paddedrow
        .span3.mainlink
          %i.icon-microphone
          .mainlinktext
            Student Outreach
        .span3.mainlink
          %i.icon-group
          .mainlinktext
            Community Reps
        .span3.mainlink
          %i.icon-briefcase
          .mainlinktext
            Trustee Reps
        .span3.mainlink
          %i.icon-globe
          .mainlinktext
            BILC Reps