=h content_for(:title, "Tufts Community Union - Elections Commission")
.contentsection
  .paddedcontent
    %h2
      About Us
    %br/
    %p
      ECOM has office hours
      = succeed " in our office, room 205 in the Mayer Campus Center" do
        %strong Mondays 12-1 P.M.
    %p
      Email us at
      %a{href: "mailto: tuftscommunityunion@gmail.com"}
      with questions or comments!
    %p In accordance with Article IV of the TCU Constitution, the Elections Commission orchestrates campus-wide elections for the TCU Senate, TCU Judiciary, and the Committee on Student Life. In addition, ECOM will hold elections whenever necessary for referenda, constitutional changes, community representatives, and student organizations that want an impartial third-party to run their officer elections. As a payer of the Tufts Student Activities fee, it is both your right and your duty to vote!
    %br/
    %br/
    %h2
      Mission
    %br/
    %p As set forth in our bylaws, the Elections Commission is charged with conducting campus-wide elections for the student government. We also organize special elections as needed to address special referenda, and are available to student organizations as a nuetral third party to run officer elections.
    %p For every election we organize, we strive to ensure fairness and equality. This means that we set strict limits on the means in which candidates for contested elections can campaign, restricting them to activities that are free of charge and readily available to every candidate. It is in this spirit that we provide each candidate with an equal amount of chalk and campaign posters.
    %p It is also our job to advertise every election in advance so that everyone is aware of the election process in time to ready themselves should they desire to run for office.
    %p We are always trying to improve our procedures to ensure that each election runs smoothly. If ever you have a comment or suggestion, please let us know.