=h content_for(:title, "Tufts Community Union - Elections Commission")
.contentsection
  .paddedcontent
    %h2
      Meet the Candidates!
    %br/
    %p
      Sorry, there are currently no candidates. Please check back during an election.