=h content_for(:title, "Tufts Community Union - Elections Commission")
.contentsection
  .paddedcontent
    %h2
      Documents
    %br/
    .row-fluid
      .span4
        %p
          %span{style: "text-decoration: underline; font-size: large;"} General Documents:
        %p
          %a{href: root_url+"ecomdocs/proxyform.doc", target: "_blank"}
            %strong Proxy Form
          %br/
        %p
          %a{href: root_url+"ecomdocs/Campaign_Rules_1.doc", target: "_blank"}
            %strong Campaign Rules
          %br/
        %p
          %a{href: root_url+"ecomdocs/presrules.doc", target: "_blank"}
            %strong Presidential Election Rules
          %br/
        %p
          %a{href: root_url+"ecomdocs/CommunityRepSeatPetition.doc", target: "_blank"}
            %strong Petition for New Community Representative Seat
          %br/
        %p
          %a{href: root_url+"ecomdocs/Poster_Policy.pdf", target: "_blank"}
            %strong OCL Postering Policy
          %br/
        %p
          %a{href: root_url+"ecomdocs/AppealofAnElection.doc", target: "_blank"}
            %strong Election Appeal Form
          %br/
        %p
          %a{href: root_url+"ecomdocs/Constitution.pdf", target: "_blank"}
            %strong TCU Constitution
          %br/
        %p
          %a{href: root_url+"ecomdocs/ecombylaws_1.doc", target: "_blank"}
            %strong ECOM Bylaws
          %br/
        %p
          %a{href: root_url+"ecomdocs/Senate_Bylaws_MOST_RECENT.pdf", target: "_blank"}
            %strong Senate Bylaws
          %br/
      .span4
        %p
          %span{style: "text-decoration: underline; font-size: large;"} October 2013 Special Elections:
        %p
          %a{href: root_url+"ecomdocs/Pboard_October2013.doc", target: "_blank"}
            %strong PBoard Petition
          %br/
        %p
          %a{href: root_url+"ecomdocs/Senate_Petition_October2013.doc", target: "_blank"}
            %strong Senate Petition
          %br/
        %p
          %a{href: root_url+"ecomdocs/PosterOrderOctober2013.doc", target: "_blank"}
            %strong Poster Order Form
          %br/
      .span4
        %p
          %span{style: "text-decoration: underline; font-size: large;"} Community Rep Elections (Not for Fall 2013):
        %p
          %a{href: root_url+"ecomdocs/Community_Rep_Petition_April2013.doc", target: "_blank"}
            %strong Community Rep Petition
          %br/
        %p
          %a{href: root_url+"ecomdocs/Africana_April2013.doc", target: "_blank"}
            %strong Africana Application
          %br/
        %p
          %a{href: root_url+"ecomdocs/AsianAmericanApp_April2013.doc", target: "_blank"}
            %strong Asian American Application
          %br/
        %p
          %a{href: root_url+"ecomdocs/LatinoApp_April2013.doc", target: "_blank"}
            %strong Latino Application
          %br/
        %p
          %a{href: root_url+"ecomdocs/LGBTAppApril2013.doc", target: "_blank"}
            %strong LGBT Application
          %br/
        %p
          %a{href: root_url+"ecomdocs/WomensCenterApril2013.doc", target: "_blank"}
            %strong Women's Center Application
          %br/