=h content_for(:title, "Tufts Community Union - Elections Commission")
.contentsection
  .paddedcontent
    %h2
      Referenda
    %br/
    %p
      Acknowledgement of Receipt and Notice of Referendum: This hereby acknowledges ECOM's receipt of a referendum to be placed on the ballot of the October 9, 2013 election.
    %p
      There will be one referendum on the upcoming election, entitled "Referendum 1". The question shown on the ballot will be the one below. All members of the TCU (any Tufts undergraduate student) may vote on this referendum.
    %br/
    %p{style: "color: #ED7A1C; font-size: 14pt;"}
      %i
        %b
          Should Tufts University divest its endowment from fossil fuel companies provided that doing so does not adversely affect the financial status of the university?
    %br/
    %p
      A yes vote indicates that you believe that Tufts should not invest in the fossil fuel industry. A no vote indicates that you believe that there should be no change in how Tufts invests its endowment.
    %p
      Rules regarding referendum elections:
    %p
      "The bylaws of the Elections Commission shall contain procedures for the exercise of referenda and other non-candidate votes, including advertising (such as prior notice), polling places and voting procedure. A minimum of 1/6 of the members of the TCU must vote in favor of a referendum for it to be considered valid and binding. A majority vote in favor of the referendum is necessary for it to become effective." (TCU Constitution Article VIII, C 1-2)