=h content_for(:title, "Tufts Community Union - Treasury")
.contentsection
  .paddedcontent
    %h2
      Documents
    %br/
    %p
      = link_to "Treasury Procedures Manual FY14", root_url+"tpm_final_draft_fy14.docx"