=h content_for(:title, "Tufts Community Union - Treasury")
.contentsection
  .paddedcontent
    %h2
      Office Hours
    %br/
    %p
      Treasury members hold regular office hours at the following times:
    %br/
    %br/
    .row-fluid
      .span4
        %p
          %strong
            Adam Kochman, TCU Treasurer:
        %p
          %u Monday:
          12:00 PM - 1:00 PM
        %p
          %u Tuesday:
          1:30 PM - 2:30 PM
        %p
          %u Wednesday:
          4:00 PM - 5:00 PM
        %p
          %u Thursday:
          1:30 PM - 2:30 PM
        %p
          %u Friday:
          12:00 PM - 1:00 PM
      .span4
        %p
          %strong
            Solana Davis, TCU Associate Treasurer:
        %p
          %u Monday:
          1:00 PM - 2:30 PM
        %p
          %u Wednesday:
          1:30 PM - 2:30 PM
        %p
          %u Thursday:
          10:00 AM - 11:30 AM
      .span4
        %p
          %strong
            Shai Slotky, TCU Assistant Treasurer:
        %p
          %u Monday:
          2:30 PM - 3:30 PM
        %p
          %u Tuesday:
          3:30 PM - 4:30 PM
        %p
          %u Thursday:
          3:30 PM - 4:30 PM