=h content_for(:title, "Tufts Community Union - Treasury")
.contentsection
  .paddedcontent
    %h2
      Paperwork and Downloads
    %br/
    %p
      All TCU Treasury paperwork is available for download on this page. Please note that in certain cases Tufts University forms are required, these can be found on the
      %a{href: "http://finance.tufts.edu/?pid=10"}
        Tufts Finance Division’s website
    %p
      The forms listed below can also be found in hardcopy in the rack outside the TCU Senate office or in the Treasury Office.
    %br/
    %br/
    %p
      %span{style: "text-decoration: underline; font-size: large;"} General TCU Forms:
    %p
      %a{href: root_url+"independent_contractor_form.doc", target: "_blank"}
        %strong Independent Contractor Form
      %br/
      To pay vendors for goods and services. Submit this completed form  to the Treasury door.
    %p
      %a{href: root_url+"credit_card_application_form.doc", target: "_blank"}
        %strong Credit Card Application
      %br/
      To apply to use the TCU credit card. Bring this completed form to office hours.
    %p
      %a{href: root_url+"deposit_form.doc", target: "_blank"}
        %strong Deposit Form
      %br/
      To make a deposit into your account. Bring this completed form with your deposit to office hours.
    %p
      %a{href: root_url+"daily_requisition_form.doc", target: "_blank"}
        %strong Tufts Daily Requisition
      %br/
      To place an advertisement in the Daily. Submit this completed form  to the Treasury door.
    %p
      %a{href: root_url+"gnomon_copy_form.doc", target: "_blank"}
        %strong Gnomon Copy Form
      %br/
      To have fliers, table tents, or other copies made. Submit this completed form  to the Treasury door.
    %p
      %a{href: root_url+"general_reimbursement_form.doc", target: "_blank"}
        %strong General Reimbursement Form
      %br/
      To be  reimbursed for purchases you've made with personal funds. Payment is  made by check or petty cash. Submit this completed form, along with your  receipts (tax subtracted), to the Treasury door.
    %p  
    %p
      %span{style: "text-decoration: underline;"}
        %span{style: "font-size: large;"} Funding Request Forms:
    %p
      %a{href: root_url+"supplementary_funding_form.doc", target: "_blank"}
        %strong Supplementary Funding Request
      %br/
      For additional  funds to cover unforeseen expenses. Submit this completed form  to the  Treasury door; you will be contacted with a time to present before ALBO.
    %p
      %a{href: root_url+"new_group_funding_form.doc", target: "_blank"}
        %strong New Group Funding Request
      %br/
      For groups without TCU funding. Submit this completed form  to  the Treasury door; you will be contacted with a time to present before  ALBO.
    %p  
    %p
      %span{style: "text-decoration: underline; font-size: large;"} Transfer Forms:
    %p
      %a{href: root_url+"inter_tcu_transfer_form.doc", target: "_blank"}
        %strong Inter-TCU Transfer Form
      %br/
      To transfer money between TCU funded groups. Submit this completed form  to the Treasury door.
    %p
      %a{href: root_url+"missing.doc", target: "_blank"}
        %strong Expense Transfer Entry Form
      %br/
      .notice
        FORM MISSING
      To transfer money between TCU groups and departments on campus. Submit this completed form to the Treasury door.
    %p  
    %p
      %span{style: "text-decoration: underline;"}
        %span{style: "font-size: large;"} Other TCU Forms:
    %p
      %a{href: root_url+"missing.doc", target: "_blank"}
        %strong Signatory Authorization Form
      %br/
      .notice
        FORM MISSING
      To become authorized as a signatory to spend funds on behalf of a TCU group. Submit this completed form to the Treasury door, or bring to your signatory training session.
    %p
      %a{href: root_url+"request_to_disburse_charitable_funds_form.doc", target: "_blank"}
        %strong Request to Disperse Charitable Funds
      %br/
      To have a check cut to a charity from funds raised through an event. Submit this completed form  to the Treasury door.
    %p
      %a{href: root_url+"missing.doc", target: "_blank"}
        %strong Equipment Inventory Form
      %br/
      .notice
        FORM MISSING
      Documents any equipment currently in your group's inventory.