=h content_for(:title, "Tufts Community Union - Judiciary")
%object{data: root_url+"judiciary_bylaws.pdf", height: "700px", type: "application/pdf", width: "100%"}
  .contentsection
    .paddedcontent
      %h2
        Judiciary Bylaws
      %br/
      %p
        It appears you don't have a PDF plugin for this browser.
        No biggie... you can
        %a{href: root_url+"judiciary_bylaws.pdf"}
          click here to
          download the PDF file.