=h content_for(:title, "Tufts Community Union - Judiciary")
.contentsection
  .row-fluid
    .span3.bs-docs-sidebar{'id' => 'side-nav'}
      %ul.nav.nav-list.bs-docs-sidenav.affix
        %li.active
          %a{href: "#article1"}
            %i.icon-chevron-right
            Article 1: Tufts Community Union
        %li
          %a{href: "#article2"}
            %i.icon-chevron-right
            Article 2: TCU Senate
        %li
          %a{href: "#article3"}
            %i.icon-chevron-right
            Article 3: TCU Judiciary
        %li
          %a{href: "#article4"}
            %i.icon-chevron-right
            Article 4: Elections Commission
        %li
          %a{href: "#article5"}
            %i.icon-chevron-right
            Article 5: TCU Webmaster
        %li
          %a{href: "#article6"}
            %i.icon-chevron-right
            Article 6: Elections
        %li
          %a{href: "#article7"}
            %i.icon-chevron-right
            Article 7: Internal Disciplinary Action
        %li
          %a{href: "#article8"}
            %i.icon-chevron-right
            Article 8: Referenda, Amendments, and Ratification
    .span9
      .row-fluid.centeredtext
        %h1
          TCU Constitution
      .row-fluid
        .paddedrow
          %h2{'id' => 'article1'}
            Article I: Tufts Community Union
          %h4
            A. Establishment
          %p.content We, the undergraduate students of Tufts University, having paid the Tufts University Student Activities Fee,do hereby form the Tufts Community Union or TCU to coordinate our voice, opinions, and activities, and dohereby create the TCU government as described in this document.
          %h4
            B. Mission Statement
          %p.content It shall be the mission of the TCU government to represent the interests and desires of the TCU to the faculty ofthe undergraduate colleges, administration, and the Trustees of Tufts College; and regulate, advocate, and providesupport for student organizations.
          %h4
            C. Membership
          %p.content Membership to the TCU shall be open to all undergraduate students attending Tufts University who pay the Student Activities Fee.
          %h4
            D. Bill of Rights
          %p.content All members of the TCU shall be entitled to:
          .content
            %ol
              %li Maintain membership and involvement in any TCU-recognized organization except as provided for by this document or organization constitutions.
              %li
                Participate in any TCU-recognized organization without discrimination on the basis of race, color, religion, sex, gender identity and expression, national or ethnic origin, age, sexual orientation, disability, or an individual’s previous affiliations in criteria for membership, assignment of voting privileges, or rank, except as otherwise provided by federal or state law or university policy.
                %ol
                  %li The only circumstances which necessitate one or more exceptions to Tufts’ nondiscriminationpolicy are if Student Religious Groups choose to abide by religious doctrine which specificallyrequires any further leadership criteria–such as ones that might be based on gender, sexualorientation or other categories–they must be explicitly stated, justified, and reviewed by theUniversity Chaplaincy if used in Student Religious Group constitutions and applications forrecognition (and re-recognition) by the TCU Judiciary.
              %li Actively participate in the TCU government by voting on campus-wide issues, electing the members of the government, becoming candidates in such elections, participating during meetings of the government or Senate, serving on any Senate committee, and applying to serve on any other appointed committee or position unless indicated otherwise in this document.
          .content
            %h2{'id' => 'article2'}
              Article II: TCU Senate
            %h4
              A. Role and Responsibility of the TCU Senate
            %p
              %strong
              The members of the Tufts Community Union Senate shall:
            %ol
              %li Represent the needs and interests of the TCU, as a whole or the constituent groups thereof, before the Faculty of the undergraduate colleges, the administration, and the Trustees of Tufts College.
              %li Oversee the allocation of the Student Activities Fee.
              %li Ensure that the needs and interests of the students are voiced on selected faculty, administration, and trustee committees.
              %li Provide a forum for the discussion of student concerns.
              %li Attend meetings required by their elected position or positions.
              %li Uphold and defend the word and spirit of this Constitution, and adhere to the bylaws of the TCU Senate.
            %h4
              B. Senators
            %ol
              %li The total number of Senators shall be twenty-eight.
              %li Seven Senators from each class shall be elected by the members of each respective class.
              %li Senators shall adhere to the roles and responsibilities of the TCU Senate as established in Article II, Section A of this Constitution.
            %h4
              C. Elections and Terms of Senators
            %ol
              %li Senators shall be elected in accordance with Article VI, Section A, Subsection 2 of this Constitution.
              %li Any member of the TCU may be a candidate for office.
              %li A petition of the candidate’s class, in accordance with the ECOM bylaws, must be completed by a date set by the Elections Commission.
              %li Elections for Senior, Junior and Sophomore class Senators shall take place in April.
              %li Elections for Freshman class Senators shall take place within the first month of the academic year.
              %li Each member of the Senate except the Freshman Senators shall serve a full year term.
              %li Freshman Senators shall serve from the date of their election to April of that same academic year.
            %h4
              D. Community Representatives
            %ol
              %li
                Any TCU recognized student organization or university center may petition the TCU for a community representative seat by collecting two hundred fifty signatures of members of the TCU, having a representative attend two-thirds of a semester’s CECA meetings, and being approved by a majority of the Senate. Additionally, the Africana, Latino, LGBT, and Asian American Centers will be approved to have community representatives upon the ratification of this amendment due to these communities already having representatives.
                %br/
                %ol{type: "A"}
                  %li
                    Individual Community Representatives will be selected by a campus-wide TCU election. Individual Community Representatives will be elected by the following procedure:
                    %br/
                    %ol{type: "i"}
                      %li TCU members will apply directly to the Group of Six members or student organization that is seeking representation.
                      %li Center directors or student organizations will review the candidates.
                      %li Candidates must attend two mandated open forums where they can interact with TCU members.
                      %li Candidates will then be voted on by the entire TCU.
                  %li After being approved by the TCU, the community representative will join as a member ofSenate, with the ability to vote on all issues, including the allocation of the student activities fee.Individual Community Representatives will also be full voting members of CECA.
              %li
                Individual Community Representatives shall:
                %br/
                %ol
                  %li Represent the views and interests expressed by the communities they represent, while maintaining their integrity as a full senator.
                  %li Be allowed to vote on all matters in the Senate including those that pertain to the disbursement of the student activities fee. Each of their votes shall be weighed as the equivalent of the vote of one senator.
                  %li Sit on the Culture, Ethnicity, and Community Affairs Committee.
                  %li Be able to sit on other committees upon election.
                  %li Educate the TCU Senate about the specific circumstances and needs of the communities they represent.
                  %li Meet with center directors (if applicable) and their communities’ student leaders.
                  %li Uphold and defend the words and spirit of the TCU Constitution.
              %li Community Representation shall be reapproved by a full majority of the Senate every two years.
            %ol
            %h4
              E. Outreach
            %p The bylaws of the TCU Senate shall contain procedures by which all Senators shall engage in outreach in order to determine the desires of the members of the TCU.
            %h4
              F. Officers and Responsibilities
            %ol
              %li Officers of the TCU Senate shall be elected in accordance with Article VI, Section B, Subsection 1 of this Constitution.
              %li
                The President of the TCU shall:
                %br/
                %ol
                  %li Be the chief executive office of the Senate.
                  %li Be responsible for the execution of this Constitution.
                  %li Represent the members of the TCU to the Administration and Faculty.
                  %li Be the presiding officer at all meetings of the full Senate and Executive Officers Board.
                  %li Publicize and convene the Senate at frequent, set times during the academic year.
                  %li Set the agenda for the Senate with the advice of the Executive Board.
                  %li Be responsible for presenting a report in September, February and April concerning the direction and progress of the Senate towards the fulfillment of its goals.
                  %li Represent the Senate before the Allocations Board.
              %li
                The Vice-president of the TCU shall:
                %br/
                %ol
                  %li Be the second ranking officer of the Senate.
                  %li Assume the duties of the President in his/her temporary absence.
                  %li Appoint senators to Senate committees and oversee the committees’ activities. The appointment of senators shall be based on individuals’ requests and availability.
                  %li Coordinate the appointment of students to Student, Student-Faculty, and Trustee committees.
                  %li Be the presiding officer at all meetings of the General Board.
                  %li Oversee the internal workings of the Senate.
              %li
                The Treasurer of the TCU shall:
                %br/
                %ol
                  %li Be the chair of the Allocations Board.
                  %li Be primarily responsible for all financial transactions of recognized organizations funded by the Student Activities Fee.
                  %li Present a semi-annual report on the state of the budget.
                  %li Consult with the Associate Treasurer on a regular basis regarding matters that concern the Treasury.
              %li
                The Associate Treasurer of the TCU shall:
                %ol
                  %li Assist the Treasurer in performing his/her duties.
                  %li Assume the duties of the Treasurer in his/her temporary absence.
              %li
                The Assistant Treasurer of the TCU shall:
                %ol
                  %li Assist the Treasurer and Associate Treasurer in performing their duties.
              %li
                The Historian of the TCU shall:
                %ol
                  %li Record and publicize all public actions of the Senate.
                  %li Record absences of all members from full Senate meetings and Standing Committee meetings.
                  %li Ensure that all Senate documents are officially filed with the Senate’s archives.
              %li
                The Parliamentarian of the TCU shall:
                %ol
                  %li Advise the Senate on matters of Constitutionality and procedure.
                  %li Conduct procedural education sessions for members.
                  %li Be the official Senate representative to the TCUJ and shall present any new Senate bylaws at the next meeting of the TCUJ following approval.
                  %li Be available as an unbiased advisor for members of the TCU who wish to draft resolutions, constitutions, or bylaws.
              %li
                The Diversity and Community Affairs Officer shall:
                %ol
                  %li Advise the executive board and the TCU Senate about the issues and circumstances pertinent to marginalized communities at Tufts.
                  %li Attend relevant community meetings and events, with a particular emphasis on developing relationships with the leaders of various communities throughout campus.
                  %li Serve as the chair of the Culture, Ethnicity, and Community Affairs Committee and also seek out community members to participate in larger, monthly CECA meetings that are open to the entire community.
                  %li Empower centers and individual students and lobby the administration on issues relevant to minority communities.
                  %li Write a report each semester about the overall state of the community and how student government is attempting to strengthen and partner with community members and groups.
            %h4
              G. The Executive Board
            %p The Executive Board of the TCU Senate shall:
            %ol
              %li Consist of the President, Vice-President, Treasurer, Associate Treasurer, Historian, and Parliamentarian.
              %li Be chaired by the President.
              %li Be elected from within Senate with the exception of the President who shall be elected by the entire TCU, and the Associate Treasurer who shall be elected from within the Allocations Board. All elections shall be supervised by the Elections Commission.
              %li Aid the President in determining the agenda for meetings.
              %li Aid the President in the creation of his/her reports.
              %li Be empowered to review the work of the Senate and its appointees.
            %h4
              H. The General Board
            %p The General Board of the TCU Senate shall:
            %ol
              %li Consist of all chairpersons of the Standing Committees and the Vice President.
              %li Be chaired by the Vice-President.
              %li Direct the activities of the Standing Committees.
            %h4
              I. Standing Committees
            %ol
              %li Permanent Standing Committees of the Senate shall be: the Administration and Policy Committee; the Culture, Ethnicity, and Community Affairs Committee; the Education Committee; the Services Committee; and the Student Outreach Committee.
              %li Committee members shall be required to attend meetings of the Standing Committee to which they are assigned.
              %li The membership of the Standing Committees shall be drawn from among all Senators, except the President, Vice President, and Treasurer. Every eligible Senator must serve on at least one committee. Certain committees may also require the membership of other non- senators, as determined in the bylaws of the TCU Senate.
              %li The TCU Historian shall serve as the Chair of the Student Outreach Committee.
              %li Standing Committees shall submit a brief statement at the end of each semester outlining the goals of the committee and how the committee progressed in the completion of such goals. The Historian shall place a copy of these statements on file for review by any member of the TCU.
              %li The TCU Senate may create additional committees as it sees fit.
            %h4
              J. The Allocations Board
            %ol
              %li Financial matters of the TCU Senate shall be determined by a committee called the Allocations Board (ALBO).
              %li The bylaws of the TCU Senate shall contain a council system to classify TCU recognized organizations by purpose in order to facilitate the allocation of funds to said organizations.
              %li The Allocations Board shall consist of the TCU Treasurer and one senator representing each council.
              %li The Treasurer of the Senate shall be the chairperson of the Allocations Board.
              %li The President of the TCU shall represent the council overseeing the budgets of the Student Government organizations.
              %li This committee shall have the primary responsibility of funding TCU recognized organizations and overseeing the expenditure of the Student Activities Fee and all monies derived from aid fee.
              %li The Allocations Board shall create procedures for the fair allocation and management of the TCU funds. These procedures shall be published annually in the Treasury Procedures Manual. This manual shall be ratified annually by a 2/3 vote of the Senate.
              %li All funding decisions of the Allocations Board must be approved by a majority of the full Senate before any funds can be officially allocated.
              %li All penalties leveled by the Allocations Board may be vetoed by a 2/3 vote of the TCU Senate.
            %h4
              K. Student, Student-Faculty and Trustee Committees
            %ol
              %li
                Trustee Representatives
                %ol
                  %li The TCU shall appoint one representative to each committee of the Trustees of Tufts College that allows student representation.
                  %li The Vice President shall oversee the appointment of the Trustee Representatives.
                  %li The Trustee Representatives shall be appointed prior to the conclusion of the Freshman elections in the fall.
                  %li No current member of the TCU Senate may be a Trustee Representative.
                  %li
                    Trustee Representatives shall:
                    %ol
                      %li Attend all meetings of their respective Trustee committees.
                      %li Give a presentation at the February meeting of their respective committees.
                      %li
                        Sit as
                        %em ex-officio
                        non-voting members of the TCU Senate and participate in all open and private discussions of the TCU Senate. At no time may a Trustee Representative be a member of the Executive, General, or Allocations Boards.
                      %li Hold membership in one of the standing committees of the TCU Senate.
                      %li Submit a report at the end of each year commenting on all public discussions and actions of their respective committees. The Historian shall place a copy of these reports on file for review by any member of the TCU.
              %li
                Student-Faculty and Other Committees
                %ol
                  %li The Vice President shall appoint the student representatives to all student-faculty committees and other bodies that require or allow student participation, unless otherwise stipulated.
                  %li Any member of the TCU may serve as a student representative.
                  %li The application to be a student representative shall be made publicly available.
                  %li When possible, at least one representative to each body shall be a member of the TCU Senate.
                  %li The appointment of student representatives must occur before the second Senate meeting in October. Any student representative vacancies shall be filled by the second Senate meeting following the creation of the vacancy. A temporary appointment may be made by the Vice President in such instances.
                  %li
                    Student representatives shall:
                    %ol
                      %li Attend all meetings of the committees or bodies to which they were appointed.
                      %li Report to a specific standing committee of the TCU Senate.
                      %li Follow the instructions of the TCU Senate or a standing committee as appropriate.
                      %li Submit a report at the end of each semester commenting on all public discussions and actions of their respective committees. The Historian shall place a copy of these reports on file for review by any member of the TCU.
              %li
                Boston Intercollegiate Assembly
                %br/
                %ol
                  %li Any member of the TCU government may serve as representatives of the TCU government at meetings of the Boston Intercollegiate Leadership Council (BIA).
                  %li
                    There shall be two permanent liaisons to BIA who shall:
                    %br/
                    %ol
                      %li Be elected by the TCU Senate during the Spring In-House elections following the election of the Allocations Board. Preference for one of the seats shall be given to an underclassman.
                      %li Communicate and collaborate with the other BIA member student governments.
                  %li No representative of the TCU Senate to BIA may enter a binding agreement concerning the TCU Senate without its prior consent.
          %p
          .content
            %h2{'id' => 'article3'}
              Article III: TCU Judiciary (TCUJ)
            %h4
              A. Role and Responsibility of the TCUJ
            %p
              %strong>  
              The judicial powers of the TCU shall be exercised by a student court called the Tufts Community Judiciary (TCUJ).
            %ol
              %li
                The seven elected (See Article VI, Section A, Subsection 3) justices of the TCUJ shall:
                %br/
                %ol
                  %li Be empowered to rule on and interpret the Constitutionality of legislation, decisions, and actions of any organization of the TCU.
                  %li Have the responsibility of recognizing and re-recognizing student organizations. The TCUJ shall re-recognize all student organizations not less than once every two years through a detailed procedure outlined in their bylaws. Student Organizations must be in compliance with University policy in order to be recognized. TCU recognized organizations are not allowed to, in membership, rank or voting privilege, discriminate based on self-acceptance of one’s race, color, religion, sex, national or ethnic origin, age, sexual orientation, gender identity and expression or disability. The rules by which student organizations are recognized shall be written by the CSL for the TCUJ to uphold and enforce. The TCUJ shall have bylaws describing the process by which student organizations gain recognition.
                  %li Uphold and defend the word and spirit of this Constitution, and the bylaws of the TCUJ.
              %li The TCUJ as a whole shall not initiate or suggest litigation.
              %li The TCUJ may issue judicial orders to force members of the TCU Senate, Elections Commission and Recognized Student Organizations to adhere to their Constitutional responsibilities.
              %li Judicial Orders may not be issued a priori; Judicial orders may be delivered ! only after an act that the Judiciary deems unconstitutional.
            %h4
              B. Officers and Responsibilities:
            %p Officers of the TCUJ shall be elected in accordance with Article VI, Section B, Subsection 2 of this Constitution.
            %ol
              %li
                The Chair of the TCUJ shall:
                %ol
                  %li Be responsible for the proper conduct of all business of the TCUJ.
                  %li Call and chair sessions of the TCUJ.
                  %li Present any new TCUJ bylaws at the next meeting of the Senate following approval.
              %li
                The Vice-Chair of the TCUJ shall:
                %ol
                  %li Assume the responsibilities of the Chair in the event of his/her temporary absence or incapacity, or in the event that the Chair is temporarily prohibited from fulfilling his/her duties by the provisions of this Constitution.
              %li
                The Recognition Chair shall:
                %ol
                  %li Oversee the recognition of organizations of the TCU. All actions taken by the Recognition chair must be reported in writing to the TCU Senate Treasurer and the Office of Student Activities within five academic days (as defined in this Article).
              %li
                The Re-recognition Chair shall:
                %ol
                  %li Oversee the re-recognition of organizations of the TCU. All actions taken by the Re- recognition chair must be reported in writing to the TCU Senate Treasurer and the Office of Student Activities within five academic days (as defined in this Article).
              %li
                The Historian shall:
                %ol
                  %li Keep records of all TCUJ decisions.
                  %li Keep minutes of TCUJ meetings.
                  %li Maintain a file of the current Constitutions of TCU recognized organizations.
                  %li Document for public viewing the TCUJ proceedings and rulings for the entire academic year.
              %li
                The Treasurer shall:
                %ol
                  %li Be responsible for keeping the budget for the TCUJ.
              %li
                The Advocacy Chair shall:
                %ol
                  %li Serve as director of the Judicial Advocacy Program.
                  %li Be responsible for Student Judicial Process Training.
                  %li Be liaison to the Judicial Affairs Officer and Dean of Students to ensure adherence to the Advocacy Program.
                  %li Be responsible for all public relations for the Advocacy Program.
              %li The TCUJ may create new officers and positions as necessary through a majority vote of the Justices.
            %h4
              C. Judicial Advocacy Group
            %p The Judicial Advocacy Group shall:
            %ol
              %li Exist as the responsibility of the TCU Judiciary.
              %li Follow the guidelines outlined in the TCUJ Bylaws in respect to its operations and relationship with the TCUJ.
            %h4
              D. Procedures
            %ol
              %li No official session of the TCUJ shall be held without a quorum of five members. In the event that one or more members are prohibited from fulfilling their duties by provisions of this Constitution, a quorum shall consist of a majority of those members eligible to serve.
              %li
                For all proceedings:
                %br/
                %ol
                  %li Meetings of the TCUJ shall be held at least twice per a month during the academic year.
                  %li All meetings of the TCUJ shall be open unless a majority of the justices vote to close the meeting.
                  %li All decisions of the TCUJ shall be rendered by majority vote of the members present.
              %li A record of all public proceedings shall be kept by the TCUJ, including but not limited to final decisions, reasoning for decisions, and vote counts of the TCUJ.
              %li
                Hearings
                %br/
                %ol
                  %li All persons appearing before the TCUJ have a right to a fair and impartial hearing. Members of the TCUJ shall have no familiarity with the case and no relationship or involvement, current, or past, with any persons who are litigants in a hearing. Members of the TCUJ will be refused from a particular hearing if any litigant can demonstrate to the Judiciary, prior to the beginning of a hearing, that a particular TCUJ member is not in a position to be objective. A vote of the TCUJ shall be taken any time a litigant appeals the objectivity of a member of the TCUJ prior to the beginning of a hearing. A majority vote of the members present shall determine the participation of the member in question.
                  %li A written complaint with specific charges is required to bring a case before the TCUJ. After receiving a complaint, the TCUJ shall determine if the complaint is within its jurisdiction.
                  %li The TCUJ shall convene a hearing within ten academic days of receipt of the complaint. Academic days shall be defined as weekdays while the University is in session. Weekends and official University holidays and vacations are not considered academic days.
                  %li All parties involved in a case shall be given at least five academic days notice prior to the hearing.
                  %li The previous two requirements may be waived if all parties involved, are in agreement to do so.
                  %li Any party involved in the hearing shall have adequate advance knowledge of the specific charges pending, and of the time and place of the hearing.
                  %li Questioning and discussion during a hearing must be relevant to the nature of the specific violation.
                  %li If a majority decision cannot be reached on a particular charge, petition or motion within five academic days, the charge, petition, or motion forwarded to the CSL without prejudice.
          %p
          %h2{'id' => 'article4'}
            Article IV: Elections Commission
          %h4
            A. Roles and Responsibilities
          %p
            %strong
            The Elections Commission (ECOM) shall:
          %ol
            %li
              Organize and conduct
              %ol
                %li Campus-wide elections to the TCU Senate, TCUJ, and Committee on Student Life (CSL).
                %li Elections of Community Representatives with their respective student organization.
                %li Student referenda.
            %li
              Ensure fair elections.
              %ol
                %li No member of ECOM shall cast any vote in an internal election over which ECOM presides.
                %li ECOM shall not propagate biased or persuasive information regarding pending elections, except in the case of disseminating balanced information regarding candidates as specified in the ECOM bylaws.
            %li Be the arbiter of any disputes concerning an election.
            %li
              Resolve all ties and grievances.
              %br/
              %ol
                %li If a tie vote will not affect the final outcome, no re-vote will be held. In the case where the tie affects the last contested seat(s), ECOM will hold a re-vote for only the contestants that tied for said seat(s). If the vote deadlocks after each of three consecutive debates on a single seat, the standing TCU President shall cast the deciding vote.
                %li In the case of a tie in a referendum or amendment vote, a re-vote will be held.
            %li Uphold and defend the word and spirit of this Constitution and the bylaws of the Elections Commission.
          %h4
            B. Officials and Appointment
          %ol
            %li Officials of the Elections Commission shall not be members of, nor candidates for, the TCU Senate, TCUJ, or CSL.
            %li The TCU Senate, TCUJ, and CSL shall each send one representative for a committee to organize and administer the application process for appointing five officials to the Elections Commission. This process shall occur at the end of the first academic semester of each year. The term shall run from February until the next January.
            %li Upon receipt of a complaint regarding the delinquency of an official of the Elections Commission, a similar committee shall be empowered to investigate the complaint and remove that official. Delinquency shall consist of failure to comply with constitutional duties and/or failure to comply with ECOM bylaws.
            %li If a vacancy should occur, the position shall be filled through a similar application process agreed upon by the TCU Senate, TCUJ and CSL.
            %li Officials of the Elections Commission shall be monetarily compensated for their term.
          %h4
            C. Officers and Responsibilities
          %ol
            %li
              The Chair shall:
              %ol
                %li Convene the Elections Commission for the election of members of Student Government.
                %li Chair all meetings pertaining to the nomination and election of members of Student
                %li Convene and chair the first meetings of a Senate or Judiciary session for the purpose of the initial election of Executive officers.
                %li Chair meetings for the nomination and election of Executive officers of Student Government, upon the request of a body of Student Government.
            %li
              The Treasurer shall:
              %ol
                %li Be responsible for keeping the budget of the Elections Commission.
            %li
              The Technician shall:
              %ol
                %li Be responsible for arranging and overseeing online elections.
                %li Communicate with third-party service providers.
            %li
              The Press Secretary shall:
              %ol
                %li Be responsible for publicizing elections to the student body.
                %li Disseminate the results of elections in a timely manner.
            %li
              The Historian shall:
              %ol
                %li Keep records of all TCU election results.
                %li Facilitate communication between the ECOM, TCUJ, Senate, and TCU.
                %li Aid the ECOM in carrying out its constitutional duties.
            %li This section shall not take effect until the first ECOM appointment following its ratification.
          %h4
            D. Bylaws 
            
          %p The Bylaws of the Elections Commission shall contain procedures for:
          %ol
            %li The election of all members of Student Government.
            %li The initial election of all officers of Student Government.
            %li Referenda procedures.
            %li Provisions that create forums for the candidates to address the electorate.
            %li Changes to the ECOM bylaws shall be presented to the TCU Judiciary in a timely manner.
          %h4
            E. Election Procedures 
            
          %ol
            %li
              Public notice of all referenda and other non-candidate elections must occur no later than nine (9) academic days before the day of the vote.
              %br/
              %ol
                %li The full question, including constitutional amendment language if applicable for such a ballot item, must be easily accessible to the student body starting at the time of public notice, and all advertising must reference where such information can be accessed.
            %li ECOM must provide reasonable mechanisms so that individuals and student groups may engage in similar types of campaigning for referenda.
            %li ECOM must provide an option labeled “Abstain” for all ballot items, which is equal In prominence to all other options for the ballot item.
            %li ECOM must make public final vote counts and related pertinent information for all non- candidate elections and TCU presidential elections.
            %li The TCU Judiciary, in response to a complaint filed against ECOM, may request and receive any ECOM documents and review it to ensure that ECOM has fulfilled its duties under this Constitution and ECOM’s bylaws and election rules.
          %p  
          .content
            %h2{'id' => 'article5'}
              Article V. TCU Webmaster
            %h4
              A. Responsibilities
            %p
              %strong
              The TCU Webmaster shall:
            %ol
              %li Manage and coordinate the electronic publications of the Senate, Judiciary, and Elections Commission in conjunction with the public relations officers of each body.
              %li Ensure that all electronic publications are kept up to date.
              %li Advise the branches of the TCU government on technological questions and issues.
              %li Direct the webmasters of TCU-recognized groups to the appropriate resources as necessary.
              %li  Be eligible for monetary compensation at the conclusion of the Webmaster’s term, at the discretion of the Senate.
            %h4
              B. Appointment and Term
            %ol
              %li An ad-hoc committee consisting of one member each of the Senate, Judiciary, and the Elections Commission shall appoint the TCU Webmaster after soliciting applications for the position. The committee shall be chaired by its Judiciary member.
              %li Any member of the TCU, except the members of the ad-hoc selection committee, may serve as the TCU Webmaster.
              %li The term of the TCU Webmaster shall begin on the day after Commencement, and shall run through the Commencement of the next calendar year.
              %li The TCU Webmaster may be removed from the position at any time by a 2/3 vote of each the Senate, the Judiciary, and the Elections Commission.
              %li In the event of a vacancy, a similar ad-hoc committee shall appoint a new TCU Webmaster, after soliciting applications, to fill out the remainder of the term.
          %p
          .content
            %h2{'id' => 'article6'}
              Article VI: Elections
            %p Any member of the TCU in good standing with the university may be a candidate for membership of the TCU Senate (Senators or Representatives), TCUJ, ECOM, or CSL unless prohibited by this Constitution. No one may hold membership in more than one of these groups at one time.
            %h4
              A. General Elections
            %ol
              %li General elections to the TCU Senate, TCUJ, and CSL shall take place no later than three weeks before the end of the second academic semester of each year.
              %li
                TCU Senate:
                %br/
                %ol
                  %li The seven candidates from each class receiving the largest number of votes from their class shall be elected members of the TCU Senate.
              %li
                TCU Judiciary:
                %ol
                  %li The seven candidates for the TCUJ receiving the highest number of votes from the entire TCU shall constitute the TCUJ.
              %li
                Committee on Student Life:
                %br/
                %ol
                  %li The number of student members on the CSL shall be determined by the Faculty. b) The candidates receiving the highest number of votes from the entire TCU shall constitute the student members of the CSL based on the number of student members.
            %h4
              B. Election of Officers
            %ol
              %li
                TCU Senate:
                %ol
                  %li
                    Within three academic days following the General Election of the Senate, the Chair of the Elections Commission shall call a meeting of a new Senate, which will nominate presidential candidates from among its members to participate in a campus-wide election of the TCU President.
                    %br/
                    %ol
                      %li Potential presidential candidates must receive a two-thirds vote of confidence from the Senate body to be eligible to run for president.
                      %li If more than one member of Senate accepts a nomination for president, at least two candidates must be put onto the presidential ballot for the campus-wide election. In the event that more than one member accepts a nomination but none or only one member receives the required vote of confidence, the two candidates receiving the most votes of confidence shall be permitted to participate in the campus-wide election.
                      %li The election of the TCU President shall take place no more than ten academic days following the presidential nominations.
                      %li The TCU presidential election shall use a rank voting system, wherein each member of the TCU may rank the candidates numerically in the order of their preference. Members of the TCU are not required to rank every candidate but may do so. Votes will then be tallied according to the highest preference of each voter. In the event that no candidate receives a majority of the votes, the votes for the candidate who receives the least number of votes shall then be redistributed to the next choice on each ballot. This process shall be repeated until one candidate receives a majority of the votes. Should all of the ranked choices of a voter be eliminated in this process, said voter will no longer be considered a member of the voter pool.
                  %li
                    Senate In-House Elections Following the election of the President, the Senate in-house elections shall be convened and chaired by the Chair of the Elections Commission.
                    %ol
                      %li All Standing Committee Chairs and Executive Officers except the Associate Treasurer and Assistant Treasurer shall be elected by the full Senate at this meeting.
                      %li Senate in-house Elections shall use a rank voting system equivalent to that used in the TCU Presidential election.
                      %li Election of Allocations Board Council Chairs shall take place following the election of the General Board, with the exception of the Chairs of two of the councils chosen by the Treasurer, which shall be saved for Freshmen Class Senators, and whose elections shall take place in the first academic semester following the election of the Freshmen Class Senators.
                      %li The Assistant Treasurer shall be elected from within the Allocations Board and shall be an underclass Senator, with preference given to freshmen.
              %li
                TCUJ:
                %ol
                  %li Following the General elections of the TCUJ, the TCUJ in-house elections shall be held.
                  %li All judiciary officers shall be elected at this meeting.
                  %li TCUJ in-house elections shall use a rank voting system equivalent to that used in the TCU Presidential election.
              %li
                Elections Commission:
                %ol
                  %li Following the appointment of all its members, the ECOM shall meet to elect choose a Chair and Treasurer.
            %h4
              C. Lengths of Terms
            %ol
              %li The terms of members and officers of TCU Senate, TCUJ and ECOM begin immediately following their election or appointment, and end when new elections or appointments are held.
              %li The terms and appointment of officers and members that do not coincide with the general election or appointment period, shall begin at the convening of the first meeting following their appointment or election, and shall endure for the remainder of the year.
            %h4
              D. Vacancy
            %ol
              %li In the event of a resignation or expulsion of any member of Student Government, elections for the vacancy shall be conducted within fifteen academic days of the vacancy. These elections shall be governed by the bylaws of ECOM that oversee the normal elections and the provisions contained in Article VI, Sections A-C of this Constitution.
              %li
                In the event that an internally elected position in a branch of Student Government becomes vacant a new internal election shall be held at the next meeting of said branch. These elections shall be governed by the bylaws of ECOM that oversee the normal elections and the provisions contained in Article VI, Section B, subsection 1, subsubsection c of this Constitution.
                %ol
                  %li In the event that the office of the TCU President becomes vacant during the fall semester, a new election shall be held according to Article VI, Section B, subsection 1, sub-subsection a of this Constitution.
                  %li In the event that the office of the TCU President becomes vacant during the spring semester, a majority vote of the Senate shall be required to initiate a new TCU Presidential election. Otherwise, the vice president shall assume the duties of the TCU President for the remainder of the year as stated in Article II, Section G, subsection 2 of this Constitution.
              %li
                TCU Senate
                %ol
                  %li In the event that there is a greater number of open seats on the Senate than candidates for Senate in a particular class, those seats will be opened up to the other classes, successively, beginning with the seniormost. The non-elected candidate with the highest number of votes from within the class to which the seat was opened will be declared the winner of said seat.
          .content
            %h2{'id' => 'article7'}
              Article VII: Internal Disciplinary Action
            %h4
              A. Reasons for Disciplinary Action 
            %p
              %strong>  
              The TCU Senate, TCUJ and ECOM are empowered to take disciplinary action against their members for the following reasons:
            %ol
              %li The violation of this Constitution.
              %li Gross and/or malicious breach of procedure.
              %li Actions which seriously injure the integrity of Student Government.
              %li Unexcused absences at full Senate meetings, offices hours, or Committee meetings exceeding three in number during any given semester. All branches of Student Government shall retain the right to refer allegations to the appropriate university authority.
            %h4
              B. Disciplinary Hearings
            %ol
              %li
                Allegations brought against a member of the TCU Senate shall be heard by the TCUJ.
                %ol
                  %li The power to enact bylaws regarding disciplinary proceedings against appointed or elected positions within the Senate shall be accorded to the Senate.
              %li Allegations brought against a member of the TCUJ shall be heard by the TCU Senate.
              %li Allegations brought against a member of the Elections Commission shall be heard by the Committee on Student Life.
              %li A hearing must be requested in writing by at least three members of the TCU. 5) Any disciplinary measure must be approved by a majority vote of the body that is adjudicating the action.
              %li Except in the case of a disciplinary action against ECOM, the outcome of a disciplinary hearing may be appealed to the Committee on Student Life.
            %h4
              C. Disciplinary Measures
            %ol
              %li A formal warning issued to a member of Student Government informs the member that any subsequent breach of Article VII, Section A, Subsections 1-4 of this Constitution may be grounds for further disciplinary action.
              %li Suspension from Student Government temporarily restricts the member’s rights as a member, to a degree and duration to be determined by the assembly.
              %li Expulsion from TCU government revokes the member’s status for that term.
          .content
            %h2{'id' => 'article8'}
              Article VIII: Referenda, Amendments, and Ratification
            %p Members of the TCU may initiate referenda to amend this Constitution or to force the TCU Senate to perform according to the student’s wishes.
            %h4
              A. Procedure
            %p This procedure shall happen in the order outlined below:
            %ol
              %li
                Three members of the TCU must submit similar individual written proposals to the TCU Senate stating why they believe a referendum is necessary. These requests shall include the proposed wording of said question.
                %ol
                  %li In the event that a referendum calls for an amendment to or dissolution of this Constitution, the TCU Judiciary shall ensure that the referendum provides for an orderly transition to the proposed system.
              %li The CSL shall examine the wording of the referendum to ensure that it does not conflict with university policy or any federal or state law(s).
              %li
                The TCUJ shall examine the wording of the referendum question to ensure that it is worded in a fair manner. In the event that the TCUJ finds that the proposed referendum question is worded in an unfair manner, the TCUJ shall work in conjunction with the sponsors of the referendum to compose a fair question.
                %ol
                  %li The TCUJ may not alter the wording of a referendum requesting amendment to this Constitution.
              %li
                A petition with signatures of 250 members of the TCU must be collected and presented to the TCUJ to initiate the process by which the referendum shall be voted on by the TCU.
                %ol
                  %li ECOM shall approve all petition designs prior to the collection of signatures. ECOM shall ensure that the petition is valid prior to the day of the vote.
              %li Upon receipt of the petition by the TCUJ, ECOM shall be charged by the TCUJ to organize and conduct a referendum.
            %h4
              B. Automatic or Bypasses Amendment Procedures
            %ol
              %li If at any time the wording of this Constitution is in conflict with the wording of University Policy, the Policy of the University shall be automatically substituted by the CSL in place of the existing passage or passages.
              %li The TCU Parliamentarian may correct formatting or spelling errors in this Constitution in consultation with the Chair of the TCUJ and the Chair(s) of the CSL.
              %li Should two sections of this Constitution be in conflict, the most recently added or amended portion shall be considered temporarily valid until the time at which the conflict is resolved through an amendment.
            %h4
              C. Ratification of Referenda and Constitutional Amendments
            %ol
              %li The bylaws of the Elections Commission shall contain procedures for the exercise of referenda and other non-candidate votes, including advertising (such as prior notice), polling places and voting procedure.
              %li A minimum of 1/6 of the members of the TCU must vote in favor of a referendum for it to be considered valid and binding. A majority vote in favor of the referendum is necessary for it to become effective.
            %h4
              D. Effect of Referenda
            %ol
              %li If the referendum pertains to an action that the TCU Senate has direct authority over as prescribed by this Constitution, the TCU Senate shall act in accordance with the referendum.
              %li
                If the referendum pertains to an action over which the TCU Senate does not have direct authority over as prescribed by this Constitution, the TCU Senate shall:
                %ol
                  %li Submit a letter to appropriate faculty and/or administration members reporting the outcome of the referendum, and a formal request for the University to act in accordance with the referendum.
                  %li Create and implement a plan of action to bring about the desired action.
                  %li Report its progress to the TCU.
            %h4
              E. Effect of Referenda Proposing Constitutional Amendments
            %ol
              %li If a referendum in the form of an amendment to this Constitution passes, the Historian of the TCU Senate shall record the amendment.
              %li A Constitutional amendment goes into effect at the beginning of the next meeting of the TCU Senate following the passage of the amendment, unless otherwise specified by the amendment.