=h content_for(:title, "Tufts Community Union - Judiciary")
.contentsection
  .paddedcontent
    %h2
      Re-Recognition
    %br/
    %p
      Spring 2013 rerecognition is complete!  A current list of TCU-recognized groups can be found under Student Organizations in the top navigation bar (organized by council).  Any questions about the process or the results should be directed to the TCUJ Rerecognition Chair.
    %br/
    %p
      Spring 2014 re-recognition will be starting next semester.  More information will be sent out when the time comes.