=h content_for(:title, "Tufts Community Union - Judiciary")
.contentsection
  .paddedcontent
    %h2
      How to Request Records
    %br/
    %p The following records may be requested:
    %ul
      %li Constitutions of TCU-classified organizations (excluding organizations classified as Unrecognized or Tabled)
      %li Minutes of meetings of the TCUJ
      %li Copies of judicial orders
      %li Complaints submitted to the TCUJ
      %li Any other such official records as the TCUJ may have available
    %p
      Some records may only be available in paper form.  All records released by written request will bear the signature of either the Historian of the TCUJ or the Chair of the TCUJ.  The official TCUJ policy with regard to records can be found in the
      = succeed ", Bylaw 7, Section F.  Bylaw 7, Section F can be assumed to overrule anything stated here if there is a conflict." do
        %a{href: ""} Bylaws of the TCUJ
    %p
      Currently three records are publicly available on this website without the need to request them: the Bylaws of the TCUJ and Judicial Orders No. 1 and 2 (2012-2013).  The Bylaws are located
      = succeed " and Judicial Order No. 1 (2012-2013) is located" do
        %a{href: ""} here
      = succeed "." do
        %a{href: ""} here