=h content_for(:title, "Tufts Community Union - Judiciary")
.contentsection
  .paddedcontent
    %h2
      How To Submit A Complaint
    %br/
    %p
      To submit a complaint, send an email specifying the TCU member(s) or TCU-classified organization(s) against whom you are alleging some violation of, or noncompliance with, a document that governs the accused (see Bylaws of the TCUJ, Bylaws 5, Section A, Subsection 1) to either the Chair of the TCUJ or the Vice Chair of the TCUJ.
    %p
      If a complaint is deemed to be valid by the TCUJ (in that it properly alleges some violation or noncompliance against an entity over whom the TCUJ has jurisidiction), the TCUJ will schedule a public hearing of the complaint, in accordance with the procedures specified in its Bylaws.  The decision of the TCUJ as a result of a hearing may be appealed to the Committee on Student Life (CSL) within 10 calendar days after the TCUJ informs the affected party.