=h content_for(:title, "Tufts Community Union - Student Organizations")
.contentsection
  .row-fluid
    .paddedrow
      .span3
        = render 'layouts/student_orgs_sidebar'
      .span9
        = render 'layouts/student_orgs_table'