=h content_for(:title, "Tufts Community Union - Student Organizations")
.contentsection
  .row-fluid
    .paddedrow
      .span5
        = render 'layouts/student_orgs_sidebar'
      .span7
        = render 'layouts/student_orgs_table'