/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require bootstrap-responsive
 *= require font-awesome
 *= require jquery.ui.all
 *= require select2
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 40px;
}
@media (max-width: 979px) {
  body {
    padding: 0px;
  }
  .navbar-fixed-top {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .span4, .span3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.navbar .brand,
.nav-collapse {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.navbar-inner > .container { text-align:center; }
.navbar-inner li { text-align:left; }

@media (max-width: 979px) {
    .navbar .brand,
    .nav-collapse {
        display: block;
    }
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu li a {
  line-height: 40px;
}

.dropdown-menu .divider {
  margin: 0;
  border-bottom: none;
}

.dropdown-backdrop {
  position: static;
}

.galleria-container {
  background: transparent;
}

.container-fluid {
  padding: 0px !important;
}

.footer {
  background-color: black;
  color: whitesmoke;
}

.footer h5 {
  text-align: center;
  text-transform: uppercase;
}

.footer .paddedbox {
  padding: 15px;
  width: 70%;
  margin: 0 auto;
  color: #bbb;
}

.galleria-thumbnails-list {
  display: none;
}

.undecoratedlink {
  color: #333 !important;
  text-decoration: none !important;
}

.paddedrow2 {
  width: 70%;
  margin: 0 auto;
  color: white;
}

.centeredimg {
  margin: 0 auto;
}