// Place all the styles related to the senate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.formwrapper {
  width: 80%;
  margin: 0 auto;
}

.memberimgs {
  width: 70%;
  background-color: blue;
  margin: 0 auto;
}

.textline2 a {
  color: white;
  text-decoration: underline;
}

.calendarholder {
  width: 80%;
  margin: 0 auto;
}

.notice {
  color: red;
  font-size: 12pt;
  margin-bottom: 5px;
}