.footer
  .container-fluid
    .paddedrow2
      .row-fluid
        .span3
          %h5
            Find the TCU
          .centeredimg
          .paddedbox
            %div
              %strong
                TCU Main Offices
            %div
              Senate and Treasury (Room 215)
            %div
              ECOM and Judiciary (Room 205)
            %div
              Mayer Campus Center
            %div
              44 Professors Row
            %div
              Medford, MA 02155
          .paddedbox
            %div
              %strong
                Senate Meeting Location
            %div
              Multi-Purpose Room
            %div
              Sophia Gordon Hall
            %div
              15 Talbot Avenue
            %div
              Medford, MA 02155
        .span3
          %h5
            TCU Offices Map
          .centeredimg
        .span3
          %h5
            Social Media
          .centeredimg
        .span3
          %h5
            Contact Us
          .centeredimg